<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1> Daily Goal Tracker</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                 <% if (user.local.email) { %>
                    <p>
                        
                        <strong>email</strong>: <span id="emailSection"><%= user.local.email %></span><br>
                        
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
                <h3><span class="fa fa-user"></span>Quote of the Day</h3>
                <h5 id="quoteSection"></h5>
                <p id="authorSection"></p>

                <!-- <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %> -->
                <button type="submit" id="apiBtn">Inspire me!</button>
                <button type="submit" id="pinnedQuoteBtn">Pin!</button>

            </div>
            <div>
              <h2>Pinned Quote</h2>
                <p><%= user.pinnedQuote ? user.pinnedQuote : '' %></p>
                <% console.log(user) %>
            </div>
        </div>
        <div class="col-sm-6">
          <h3>Goal(s): Daily Streaks</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span class="goalName"><%= messages[i].goal %></span>
              <span class="catName"><%= messages[i].name %></span>
              <span><%= messages[i].streak %></span>
              <button class="streakBtn">Streak</button>
              <button class="resetBtn">Reset</button>
              <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Enter a new goal</h2>
          <form action="/messages" method="POST">
            <input type="text" name="name" class="originalName" placeholder="Enter a new goal..." required>
            <select name="goal" class="originalGoal" required>
              <option value="Fitness">Fitness</option>
              <option value="Finance">Finance</option>
              <option value="Mindfulness">Mindfulness</option>
              <option value="Self-Care">Self-Care</option>
              <option value="Other">Other</option>
            </select>
            
            <!-- <input type="text" placeholder="message" name="msg"> -->
            <button type="submit">Submit</button>
          </form>
        </div>


</div>

<script src="main.js"></script>

</body>
</html>
